$topBarcolors:#e1e1e1,#39424b;
$bgcolors:#fff,#2e353d;
$lineTopcolors:#020202,#fff;
$titlecolors:#010101,#fefefe;
$unamecolors:#909090,#95999c; //记住密码，忘记密码
$uname1colors:#bebebe,#95999c;
$inputcolors:#262628,#ffffff;
$inputLinecolors:#ccc,#2b323a;
$submitcolors:#363636,#f8f8f8;
$logincolors:#eff9fd,#2e353d;
