//我的客户
.customerList{
  width: 100vw;
  padding: 34vw 0 38vw 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.customerContent{
  padding: 0 4.266vw;
  background: #fff;
  margin-bottom: 1vw;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .intention{
      width: 35vw;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .iconTips{
      // display: inline-block;
    }
    li:nth-child(1){
      flex: 0.7;
      // justify-content: space-around;
      align-items: center;
      width: 30vw;
    }
    li:nth-child(2){
      // flex: 0.3;
      width: 30vw;
      // flex-direction: column;
      align-items: center;
      
    }
    li:nth-child(3){
      flex: 0.5;
      color: #363636;
      font-size: 4vw!important;
      align-items: center;
      margin-left: 2vw;
      padding-left: 2vw;
      box-sizing: border-box;
    }
    li{
      display: flex;
      min-height: 14vw;
      // line-height: 14vw;
      // padding: 1vw 0;
      position: relative;
      height: 17.33vw;
      div{
        // position: absolute;
        height: 4vw;
        width: 3.73vw;
        // top: 3vw;
        // right: 10vw;
        // margin-left: 1vw;
        margin-top: -7vw;
      }
      div.urgencyfalse{
        // background: url(../../assets/imgs/jinji1.png) no-repeat;
        background-size:100% 100%;
        // background-position: center;
      }
      div.urgencytrue{
        background: url(../../assets/imgs/jinji.png) no-repeat;
        background-size:100% 100%;
        // background-position: center;
      }
      // div.urgency1{
      //   background: url(../../assets/imgs/jinji1.png) no-repeat;
      //   background-size: 6vw auto;
      //   background-position: center;
      // }
    }
    strong{
      line-height: 7vw;
      font-size: 16px;
      color: #363636;
      margin-left: -3vw;
    }
    i{
      // display: inline-block;
      width: 10.6vw;
      height: 4vw;
      // margin-left: 1vw;
    }
    i.importantA{
      background: url(../../assets/imgs/A.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    i.importantB{
      background: url(../../assets/imgs/B.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    i.importantC{
      background: url(../../assets/imgs/C.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    span{
      line-height: 7vw;
      font-size: 14px;
      color: #999;
    }
    li:nth-child(1){
      // padding-left: 5vw;
      // flex: 0.5;
    }
    li:nth-child(2){
      font-size: 16px;
      color: #999;
    }
    li:nth-child(3){
      font-size: 20px;
      color: #363636;
    }
  }
}
//订单查询
.orderList{
  padding-left: 4.266vw;
  color: #999;
  font-size: 4.26vw;
  line-height: 11.73vw;
  border-bottom: 1px solid #e1e1e1;
  li {
    display: flex;
    justify-content: space-between;
    padding-right: 3.86vw;
    border-top: 1px solid #e1e1e1;
    span:nth-child(1) {
      flex: 0.13;
    }
    span:nth-child(2) {
      color: #363636;
      flex: 0.3;
    }
    span:nth-child(3) {
      flex: 0.4;
    }
    span:nth-child(4) {
      flex: 0.4;
      color: #363636;
      text-align: right;
    }
  }
}
//成交客户
.dealList{
  border-bottom: 1px solid #e1e1e1;
  // border-bottom: 1px solid #e1e1e1;
  padding-left: 4.266vw;
  color: #999;
  font-size: 4.26vw;
  line-height: 11.73vw;
  li {
    display: flex;
    justify-content: space-between;
    padding-right: 3.86vw;
    border-top: 1px solid #e1e1e1;
    span:nth-child(2) {
      color: #363636;
      flex: 0.25;
    }
    span:nth-child(4) {
      color: #363636;
      flex: 0.3;
    }
    span:nth-child(3) {
      flex: 0.4;
    }
    // span:nth-child(4) {
    //   flex: 0.5;
    // }
    span:nth-child(1) {
      flex: 0.15;
    }
  }
  
  li:nth-child(1) {
    border-top: none;
  }
  li:last-child {
    border-bottom: none
  }
}