//我的客户
.customerList{
  width: 100vw;
  padding: 33.6vw 0 18vw 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.customerContent{
  padding: 0 4.266vw;
  background: #fff;
  margin-bottom: 1vw;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconTips{
      // border: 1px solid red;
      // display: inline-block;
    }
    li:nth-child(1){
      flex: 0.6;
      // justify-content: space-around;
      align-items: center;
    }
    li:nth-child(2){
      flex: 0.7;
      // overflow: auto;
      flex-direction: column;
    }
    li:nth-child(3){
      flex: 0.2
    }
    li{
      position: relative;
      display: flex;
      min-height: 14vw;
      // line-height: 14vw;
      padding: 1vw 0;
      div{
        // position: absolute;
        height: 4vw;
        width: 3.73vw;
        // top: 2vw;
        // left: 0;
        margin-left: 1vw;
      }
      div.urgency9{
        // background: url(../../assets/imgs/jinji1.png) no-repeat;
        background-size:100% 100%;
        // background-position: center;
      }
      div.urgency1{
        background: url(../../assets/imgs/jinji.png) no-repeat;
        background-size:100% 100%;
        // background-position: center;
      }
      // div.urgency1{
      //   background: url(../../assets/imgs/jinji1.png) no-repeat;
      //   background-size: 6vw auto;
      //   background-position: center;
      // }
    }
    strong{
      line-height: 7vw;
      font-size: 16px;
      color: #363636;
    }
    i{
      // display: inline-block;
      width: 10.6vw;
      height: 4vw;
      margin-left: 1vw;
    }
    i.important1{
      background: url(../../assets/imgs/Lv1.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    i.important2{
      background: url(../../assets/imgs/Lv2.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    i.important3{
      background: url(../../assets/imgs/Lv3.png) no-repeat;
      background-size: auto 100%;
      // background-position: center;
    }
    span{
      line-height: 7vw;
      font-size: 14px;
      color: #999;
    }
    li:nth-child(1){
      // padding-left: 5vw;
    }
    li:nth-child(2){
      font-size: 16px;
      color: #999;
    }
    li:nth-child(3){
      font-size: 20px;
      color: #363636;
    }
  }
}
//订单查询
.orderList{
  padding-left: 4.266vw;
  color: #999;
  font-size: 4.26vw;
  line-height: 11.73vw;
  border-bottom: 1px solid #e1e1e1;
  li {
    display: flex;
    justify-content: space-between;
    padding-right: 3.86vw;
    border-top: 1px solid #e1e1e1;
    span:nth-child(1) {
      flex: 0.1;
    }
    span:nth-child(2) {
      color: #363636;
      flex: 0.2;
    }
    span:nth-child(3) {
      flex: 0.4;
    }
    span:nth-child(4) {
      flex: 0.4;
      color: #363636;
      text-align: right;
    }
  }
}
//成交客户
.dealList{
  border-bottom: 1px solid #e1e1e1;
  // border-bottom: 1px solid #e1e1e1;
  padding-left: 4.266vw;
  color: #999;
  font-size: 4.26vw;
  line-height: 11.73vw;
  li {
    display: flex;
    justify-content: space-between;
    padding-right: 3.86vw;
    border-top: 1px solid #e1e1e1;
    span:nth-child(2) {
      color: #363636;
      flex: 0.25;
    }
    span:nth-child(4) {
      color: #363636;
      flex: 0.3;
    }
    span:nth-child(3) {
      flex: 0.4;
    }
    // span:nth-child(4) {
    //   flex: 0.5;
    // }
    span:nth-child(1) {
      flex: 0.15;
    }
  }
  li:nth-child(1) {
    border-top: none;
  }
  li:last-child {
    border-bottom: none
  }
}